header {
  background: #f2f2f2;
  height: 25px;
  width: 100%;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  justify-content: flex-end;
  margin: auto;
}
nav {
  background: #f2f2f2;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.link {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.table-body {
  display: flex;
  width: 100%;
  color: black;
  flex-wrap: wrap;
}
.table-header {
  background-color: #36304a;
  color: white;
  width: 100%;
}
.column:hover {
  background-color: #484848;
  font-weight: 500;
}
.row {
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
}
.column {
  width: 25%;
  padding: 10px;
  text-align: center;
}
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
.form-fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.field {
  margin-bottom: 0.5em;
  box-sizing: border-box;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  width: 150px;
  text-align: center;
}
.field label {
  text-align: left;
  display: block;
  margin: 0 1em 0 0;
  width: 100px;
  text-align: center;
}
.field input {
  padding: 0.5em 0.6em;
  display: block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100px;
}

button {
  background-color: #0078e7;
  color: rgb(22, 21, 21);
  font-size: 15px;
  margin: 5px;
  display: block;
  padding: 10px 24px;
  border: 1px solid #999;
  border: transparent;
  text-decoration: none;
  border-radius: 2px;
}

button:disabled {
  background-color: #d9e8f6;
  color: #fff;
  font-size: 12px;
  margin: 5px;
  display: block;
  padding: 10px 24px;
  border: 1px solid #999;
  border: transparent;
  text-decoration: none;
  border-radius: 2px;
  cursor: no-drop;
}
