.table {
  width: 100%;
  border: 1px solid black;
  background-color: white;
  margin: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.table-body {
  width: 100%;
  color: black;
  margin-left: 2em;
}
.table-header {
  color: black;
  border: 3px solid black;
  background-color: white;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
}
.row-header {
  width: 100%;
  text-align: left;
  margin-left: 1em;
}
.row {
  display: inline-flex;
  width: 100%;
  margin-left: 1em;
  box-sizing: border-box;
}
.record {
  display: inline-flex;
  width: 75%;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
}
.total-record {
  display: inline-flex;
  width: 75%;
  margin-left: 12em;
  float: inline-end;
  text-align: center;
  box-sizing: border-box;
}
.total-label {
  display: inline-flex;
  width: 50%;
  box-sizing: border-box;
}
.total-value {
  display: inline-flex;
  width: 50%;
  text-align: left;
  box-sizing: border-box;
}
.column {
  width: 25%;
  padding: 5px;
  text-align: left;
}
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}
.form-fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 1px;
}
.field {
  margin-bottom: 0.5em;
  box-sizing: border-box;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  width: 150px;
  text-align: center;
}
.field label {
  text-align: left;
  display: block;
  margin: 0 1em 0 0;
  width: 150px;
  text-align: center;
}
.field input {
  padding: 0.5em 0.6em;
  display: block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  width: 150px;
}

.field select {
  padding: 0.5em 0.6em;
  display: block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  width: 150px;
}

button {
  background-color: #0078e7;
  color: #fff;
  font-size: 12px;
  margin: 5px;
  display: block;
  padding: 10px 24px;
  border: 1px solid #999;
  border: transparent;
  text-decoration: none;
  border-radius: 2px;
}

button:disabled {
  background-color: #d9e8f6;
  color: #fff;
  font-size: 12px;
  margin: 5px;
  display: block;
  padding: 10px 24px;
  border: 1px solid #999;
  border: transparent;
  text-decoration: none;
  border-radius: 2px;
  cursor: no-drop;
}

error {
  color: red;
}
